<div class="ui fluid search selection dropdown widget" id="{{attrs.id}}">
  <input name="{{attrs.input_name}}" type="hidden">
  <i class="dropdown icon"></i>
  	  <div class="default text">{{default_value}}</div>

  <div class="menu">
{% for key,value in selection %}
{% if forloop.first %}
{% else %}
  <div class="item" data-value="{{key}}">{{value}}</div>
{% endif %}
{% endfor %}
  </div>
</div>

    <script>
    $('.widget.ui.dropdown').dropdown({ fullTextSearch: true });
    </script>